@charset "utf-8";
@font-face {
    font-family: "Modern Sans";
    src: url(../../../font/modern_sans/ModernSans-Light.otf);
}

*, *::after, *::before {box-sizing: border-box;}
a {text-decoration: none; color: #000;}
body {font-family: "Modern Sans";}


#mbox {display: grid; width: 70%; margin: 0 auto; grid-template-columns: repeat(2, 1fr); column-gap: 3rem;}

.box1 {position: relative; margin-top: 10%; border: 1px solid #0080a7; padding: 1.3rem; background: transparent; max-width: 600px;}
.box2 {position: relative; display: flex; justify-content: center; align-items: center; margin-top: 10%;}




/* box1 - title */
.title {border-bottom: 1px dashed #90aa8b;}
.title h2 {font: bold 25px "SUIT"; margin: 0.4rem 0;}
.title h3 {font: bold 20px "Modern Sans"; font-style: italic; margin: 0.3rem 0;}
.title p {font: normal 15px "SUIT"; padding-bottom: 1.5rem; padding-top: 1rem;}



/* box1 - concept */
.concept {margin: 1.5rem 0; border-bottom: 1px dashed #90aa8b;}
.concept h4 {font: bold 17px "SUIT";}
.concept p {font: normal 15px "SUIT"; letter-spacing: 1.5px; padding-top: 0.5rem; padding-bottom: 1rem; text-indent: 3%; text-align: justify;}



/* box1 - style guide title */
.style h2 {font: bold 20px "Modern Sans";}


/* box1 - style guide - color */
.color ul {display: flex; justify-content: center; gap: 3%;}

.color {padding-top: 0.7rem; padding-bottom: 1rem;}
.color .color_t {font: bold 13px "Modern Sans"; border-bottom: 1px solid #bbb; padding-bottom: 0.7rem;}
.color > ul > li {font: normal 12px "Modern Sans"; margin: 1rem;}

.color .circle {width: 30px; height: 30px; border-radius: 10%; border: 1px solid #bbb; margin-bottom: 3px;}
.c1 {background: #90aa8b; position: relative; right: -10px;}
.c2 {background: #666; position: relative; left: -2px;}
.c3 {background: #aaa;}
.c4 {background: #bbb;}
.c5 {background: #fff;}



/* box1 - style guide - font */
.font ul li {display: flex; justify-content: center; gap: 20%;}

.font {padding-bottom: 1rem; border-bottom: 1px dashed #90aa8b;}
.font .font_t {font: bold 13px "Modern Sans"; border-bottom: 1px solid #bbb; padding-bottom: 0.7rem;}
.font > ul > li {margin: 1rem;}
.font > ul > li .sans {font: normal 15px "Modern Sans";}
.font > ul > li .suit {font: normal 15px "SUIT";}

.font .light {font-weight: lighter;}
.font .normal {font-weight: normal;}
.font .bold {font-weight: bold;}
.font .bolder {font-weight: bolder;}
.font .green {color: #90aa8b;}

/* program */
.program {border-bottom: 1px dashed #90aa8b;}
.program h4 {font:bold 20px "SUIT"; padding-top: 1rem;}
.program ul {display: flex; justify-content: center; gap: 5%; padding-top: 1rem; padding-bottom: 1rem;}
.program img {width: 40px; height: 40px;}



/* box1 - button */
.button {display: flex; justify-content: space-evenly; padding-top: 2rem;}
.button1, .button2, .button3 {background: #fff; box-shadow: 2px 2px 2px 1px #d4d4d4;}
.button a {display: block; border: 1px solid #bbb; padding: 5px; font: normal 13px "SUIT";}
.button a:hover {border: 1px dashed #90aa8b; color: #90aa8b; box-shadow: none;}




/* box2 - device */
.device {position: relative; padding: 90px 10px; border: 6px solid #2f2f2f; background: #fff; box-shadow: 20px 10px 30px 1px rgba(0, 0, 0, 0.4); border-radius: 60px;}

.device::before, .device::after {content: ""; position: absolute; z-index: 2;}

.device::before {width: 30%; height: 20px; top: 2%; left: 50%; transform: translateX(-50%); border-radius: 10px; background: #2f2f2f;}
.device::after {width: 40%; height: 5px; bottom: 2%; left: 50%; transform: translateX(-50%); border-radius: 10px; background: #969696;}

.device iframe {width: 420px; height: 645px; background: #fff;}



/* scroll bar */
/* ::-webkit-scrollbar {width: 10px; height: 6px;}

::-webkit-scrollbar-track {background: #f5f5f5; border-radius: 10px;}

::-webkit-scrollbar-thumb {background-color: #90aa8b; border-radius: 10px; border: 1px solid #dcdcdc;}

::-webkit-scrollbar-thumb:hover {background-color: #6f8969;} */